@import "../../sass/utilities/mixins";

.toolList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;

  @include sm-screen {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    justify-content: space-between;
  }

  @include md-screen {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    justify-content: space-between;
  }

  @include lg-screen {
    column-gap: 20px;
    //justify-content: space-between;
    grid-template-columns: repeat(5, 1fr);
  }

  @include xl-screen {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 60px;
    justify-content: space-between;
    row-gap: 60px;
  }
}

