@import "../../sass/utilities/mixins";

.education {
  background-color: #2C3343;
  padding: 10px 20px 60px;
  color: #a3abb6;

  @include lg-screen {
    padding: 20px;
  }

  &__header {
    margin-bottom: 40px;
    color: #D3D7E3;
    display: flex;
    align-items: center;
    max-width: 1200px;

    i {
      margin-right: 10px;
      font-size: 18px;
      width: 28px;
      height: 28px;
      background-color: #8FC5C5;
      color: #212733;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}