@import "../../sass/utilities/mixins";

.contact {
  background: rgb(34,39,51);
  background: linear-gradient(180deg, rgba(34,39,51,1) 0%, rgba(39,46,60,1) 100%);
  padding: 40px 20px 80px;
  position: relative;

  background: rgb(26,28,40);
  background: linear-gradient(180deg, rgba(26,28,40,1) 0%, rgba(34, 37, 56,1) 100%);

  @include md-screen {
    padding: 50px 20px 80px;
  }

  &__header {
    margin-bottom: 40px;
    color: #D3D7E3;
  }

  &__content {
    color: #a3abb6;
    font-size: 14px;

    max-width: 1200px;
    margin: 0 auto 40px;

    //grid-template-columns: 1;

    .extra-wrapper {

      @include md-screen {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 20px;
      }

      @include lg-screen {
        margin-bottom: 40px;
      }

      .contact__content-desc {
        margin-bottom: 40px;
      }

      .contact__content-discord {
        height: 50px;
        width: 100%;
        background-color: #768ADD;
        padding: 4px 10px;
        border-radius: 6px;
        transition: 0.1s ease-in-out;

        background-image: url('../../assets/images/discord-join.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-origin: content-box;

        margin-bottom: 40px;
        border: none;

        //max-width: 300px;

        &:active {
          padding: 6px 10px;
        }

        @include md-screen {
          width: 300px;
        }
      }
    }

    &-social {
      display: grid;
      grid-template-rows: repeat(4, auto);
      row-gap: 14px;

      @include sm-screen {
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
      }

      @include lg-screen {
        column-gap: 30px;
        row-gap: 30px;
      }

      &-item {
        display: flex;
        border: 1px solid #2C3343;
        background-color: #232733;
        border-radius: 6px;
        overflow: hidden;

        p {
          display: flex;
          align-items: center;
          margin-bottom: 0 !important; // Reset for React-Bootstrap
        }

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 36px;
          height: 36px;
        }

        & > i {
          margin-right: 10px;
          background-color: #2C3343;
          color: #D3D7E3;
        }

        &-copyBtn {
          border: none;
          background-color: transparent;
          margin-left: auto;

          &:hover {
            i {
              color: #808893;
            }
          }

          &:active {
            i {
              transform: scale(0.94);
            }
          }

          i {
            color: #5d616c;
            font-size: 16px;
            transition: 0.1s ease-in-out;
          }
        }
      }




    }
  }
}