@import "../../sass/utilities/mixins";

.navbar {
  padding-top: 0 !important; // Reset for React-Bootstrap
  padding-bottom: 0 !important; // Reset for React-Bootstrap
  position: fixed !important; // Reset for React-Bootstrap
  flex-wrap: unset !important;
  width: 100%;
  background-color: #2C3343;
  //background-color: transparent;
  //padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  //transition: 0.1s ease-in-out;

  @include lg-screen {
    background-color: transparent;
    //max-width: 1200px;
    //margin: 0 auto;
    height: 100px;
    position: absolute !important;
  }

  &__brand {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    //font-weight: bold;
    display: flex;
    align-items: center;
    //cursor: pointer;
    //background-color: rgba(0,0,0,0.1);
    height: 60px;
    padding: 0 20px;
    transition: 0.50ms ease-in-out;

    @include xxl-screen {
      padding-left: 50px;
    }

    &:active {

      i {
        transform: scale(0.95);
      }

      .navbar__brand-text {
        font-size: 13px;

        @include xxl-screen {
          font-size: 15px;
        }
      }

      //transform: scale(0.95);
    }

    &:hover {
      //background-color: rgba(0,0,0,0.1);
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      //border: 1px solid red;
      width: 44px;
      height: 36px;
      margin-right: 7px;
      background-color: #212733;
      border-radius: 4px;
      font-weight: bold;
      border: 1px solid #3d4557;
      transition: 0.1s ease-in-out;

      @include xxl-screen {
        width: 52px;
        height: 42px;
        font-size: 21px;
        margin-right: 10px;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 100%;
      font-size: 14px;
      //color: #a3abb6;
      margin-bottom: 0 !important; // Reset for React-Bootstrap

      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      transition: 0.1s ease-in-out;

      @include xxl-screen {
        font-size: 16px;
      }

      &-name:first-letter {
        //font-weight: bold;
        //color: #D3D7E3;
      }

      &-surname:first-letter {
        //font-weight: bold;
        //color: #D3D7E3;
      }
    }

  }

  &__burger {
    margin-right: 20px;
    //border: none;
    height: 36px;
    width: 36px;
    border: 1px solid #8FC5C5;
    border: 1px solid #3d4557;

    border-radius: 4px;
    background-color: transparent;
    background-color: #222733;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    @include lg-screen {
      display: none;
    }

    &-bar {
      margin: 2px 0;
      height: 2px;
      width: 20px;
      background-color: #8FC5C5;
      background-color: #D3D7E3;
      transition: all 0.2s ease-out;
    }
  }

  &__navigation {
    position: absolute;
    //top: calc(4 * 60px * -1);
    top: 60px;
    transform: scaleY(0);
    transform-origin: top;
    left: 0;
    width: 100%;
    transition: 0.2s ease-in-out;
    z-index: 0;

    @include lg-screen {
      position: static;
      //top: unset;
      //z-index: 10;
      //left: unset;
      transform: unset;
      width: auto;
      //transition: unset;
    }

    &-list {
      list-style: none;
      margin-bottom: 0 !important; // Reset for React-Bootstrap
      padding-left: 0 !important; // Reset for React-Bootstrap

      @include lg-screen {
        display: flex;
        //width: 100%;
      }

      &-item {
        cursor: pointer;

        a {
          background-color: #2C3343;
          width: 100%;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #808893 !important; // Reset for React-Bootstrap
          transition: 0.1s ease-in-out;

          @include lg-screen {
            padding: 0 40px;
            background-color: transparent;
            color: #D3D7E3 !important;
          }

          @include xxl-screen {
            padding: 0 60px;
            font-size: 17px;
          }

          &:hover {
            background-color: #252936;
            color: #D3D7E3 !important; // Reset for React-Bootstrap

            @include lg-screen {
              background-color: unset;
              text-shadow: 0 0 2px #D3D7E3;
              //position: relative;

              //&::before {
              //  content: '';
              //  position: absolute;
              //  bottom: 0;
              //  left: 0;
              //  height: 2px;
              //  width: 100%;
              //  background-color: #98d6d6;
              //}
            }
          }




        }

        //@include lg-screen {
        //  a.active {
        //    border-bottom: 2px solid #98d6d6;
        //  }
        //}

        //a.active {
        //  background-color: #252936;
        //  color: #D3D7E3 !important;
        //}
      }
    }
  }

  &.active {
    //background-color: #2C3343;
    
    .navbar__burger {
      .navbar__burger-bar {
        margin: 0;
      }

      .navbar__burger-bar:nth-of-type(1) {
        transform: translateY(100%) rotate(45deg);
      }

      .navbar__burger-bar:nth-of-type(2) {
        opacity: 0;
      }

      .navbar__burger-bar:nth-of-type(3) {
        transform: translateY(-100%) rotate(-45deg);
      }
    }

    .navbar__navigation {
      top: 60px;
      transform: scaleY(1);
    }
  }
}

