.toolListItem {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  justify-content: center;
  background-color: #2D3344;
  border-radius: 6px;
  min-height: 80px;
  border: 1px solid #2D3344;
  overflow: hidden;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 14px;

    img {
      object-fit: contain;
    }
  }

  &__desc {
    background-color: #232733;
    height: 100%;
    padding: 10px;

    &-displayName {
      color: #D3D7E3;
      font-weight: bold;
      font-size: 12px;
      margin-bottom: 2px;
    }

    &-additionalInfo {
      font-size: 12px;
      line-height: 110%;
      color: #717882;
      margin-bottom: 0 !important; // Reset for React-Bootstrap
    }
  }
}