.footer {
  height: 60px;
  background-color: #2D3344;
  position: relative;

  &__content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    &-author {
      font-size: 11px;
      color: #808893;
      margin-bottom: 0 !important;

      span {
        color: #D3D7E3;
        font-weight: bold;
      }
    }
  }
}