.sectionHeader {
  color: #D3D7E3;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 40px;

  i {
    margin-right: 8px;
    width: 32px;
    height: 32px;
    background-color: #232733;
    color: #D3D7E3;
    border: 1px solid #3d4557;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }
}