.projects {
  background-color: #212733;
  padding: 20px;
  
  &__header {
    margin-bottom: 40px;
    color: #D3D7E3;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &-moreBtn {
      margin-top: 60px;
      align-self: center;
      //padding: 5px 20px;
      height: 30px;
      width: 100px;
      border: 1px solid #98d6d6;
      color: #98d6d6;
      background-color: transparent;
      border-radius: 6px;
    }
  }
}

