@import "../../sass/utilities/mixins";

.projects {
  background-color: #1a1c28;
  padding: 20px;

  @include md-screen {
    padding: 30px 20px;
  }

  &__header {
    margin-bottom: 40px;
    color: #D3D7E3;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;

    &-moreBtn {
      margin-top: 60px;
      align-self: center;
      height: 30px;
      width: 100px;
      border: 1px solid #98d6d6;
      color: #98d6d6;
      background-color: transparent;
      border-radius: 6px;
    }
  }
}

