.projects {
  background-color: #212733;
  background-color: #1a1c28;
  padding: 20px;

  background: rgb(32,31,54);
  background: linear-gradient(180deg, rgba(34, 37, 56,1) 0%, rgba(26,28,40,1) 30%);
  
  &__header {
    margin-bottom: 40px;
    color: #D3D7E3;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &-moreBtn {
      margin-top: 60px;
      align-self: center;
      //padding: 5px 20px;
      height: 30px;
      width: 100px;
      border: 1px solid #98d6d6;
      color: #98d6d6;
      background-color: transparent;
      border-radius: 6px;
    }
  }
}

